.box
    width: 100%
    position: fixed
    left: 0
    top: 0
    z-index: 10
    background-color: transparent
    transition: all 0.3s ease
    &.scrolled
        background-color: #ffff
        box-shadow: 0 2px 10px rgba(0,0,0,.1)
        nav
            h2
                color: #000
    nav
        padding: 10px 90px
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        height: 70px
        h2
            color: #c5c1be
            font-size: 20px
            font-weight: 600
            transition: color .3s
            &:hover
                color: #fdfdfd
        ul
            display: flex
            gap: 30px
            li
                list-style-type: none
                a
                    color: #c5c1be
                    font-size: 17px
                    font-weight: 600
                    margin-left: 25px
                    &:hover
                        color: #fdfdfd
        .icon
            display: none
            i
                color: #ffff
                font-size: 30px

    @media (max-width: 768px)
        background-color: #ffff
        position: fixed
        nav
            padding: 10px 30px
            h2
                color: #000
            ul
                overflow: hidden
                position: absolute
                top: 70px
                left: 0
                right: 0
                flex-direction: column
                background-color: #ffff
                    // text-align: center
                gap: 0
                transition: all 1s
                li

                    padding: 20px
            .icon
                display: block
                i
                    padding: 5px 15px
                    color: #777575ff
                    font-size: 20px
                    border: 1px solid #777575ff
                    border-radius: 8px
                    cursor: pointer

    @media (max-width: 586px)
        .box
            nav
                padding: 10px 30px
