.box
    width: 100vw
    position: absolute
    position: fixed
    left: 0
    top: 0
    z-index: 10
    padding: 0 65px
    nav
        padding: 10px 30px
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        height: 70px
        h2
            color: #c5c1be
            font-size: 20px
            font-weight: 600
            &:hover
                color: #fdfdfd
        ul
            display: flex
            flex-direction: row
            gap: 30
            // padding: 15px
            li
                list-style-type: none
                a
                    color: #c5c1be
                    font-size: 17px
                    font-weight: 600
                    margin-left: 25px
                    &:hover
                        color: #fdfdfd
        .icon
            display: none
            i
                color: #ffff
                font-size: 30px

@media (max-width: 768px)
    .box
        background-color: #ffff
        position: fixed
        nav
            overflow: hidden
            h2
                color: #000
            ul
                position: absolute
                top: 70px
                left: 0
                right: 0
                flex-direction: column
                text-align: center
                gap: 0
                li
                    padding: 20px
            .icon
                display: block
                i
                    padding: 5px 15px
                    color: #777575ff
                    font-size: 20px
                    line-height: 1.3
                    border: 3px solid #777575ff
                    border-radius:8px
                    cursor: pointer
            .menuList
                transition: all 5s
