#images
    padding: 0
    .modal
        display: none
        position: fixed
        z-index: 15
        padding-top: 80px
        left: 0
        top: 0
        width: 100%
        height: 100%
        text-align: center
    .modal-content
        max-width: 80%
        border-radius: 10px
        animation: zoom 0.3s ease
    @keyframes zoom
        from 
            transform: scale(0.5)
        to 
            transform: scale(1)
    .close
        position: absolute
        top: 25px
        right: 40px
        color: #ffff
        font-size: 40px
        cursor: pointer

    .portfolio-box
        .imgbox
            position: relative
            .text
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 100%
                position: absolute
                top: 0
                left: 0
                bottom: 0
                opacity: 0
                &:hover
                    background-color: #f4623a
                    opacity: 0.9
                    cursor: pointer
                h3
                    color: #b4b1b1
                    font-size: 19px
                h4
                    margin-top: 10px
                    font-size: 23px
                    color: #ffff
