#images
    padding: 0
    .portfolio-box
        .imgbox
            position: relative
            cursor: pointer
            &:hover
                transform: scale(1.05)
            .text
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 100%
                position: absolute
                top: 0
                left: 0
                bottom: 0
                opacity: 0
                &:hover
                    background-color: #f4623a
                    opacity: 0.9
                    cursor: pointer
                h3
                    color: #b4b1b1
                    font-size: 19px
                h4
                    margin-top: 10px
                    font-size: 23px
                    color: #ffff
    .modal
        display: none
        position: fixed
        z-index: 20
        padding-top: 80px
        left: 0
        top: 0
        width: 100%
        height: 100%
        overflow: auto
        &active
            display: block

        .close
            position: absolute
            top: 25px
            right: 45px
            color: #ffff
            font-size: 40px
            font-weight: 700
            cursor: pointer
            transition: .3s
            &:hover
                color: #ccc
        .modal-content
            position: relative
            max-width: 80%
        .mySliders
            display: none
            text-align: center
            img
                width: 80%
                border-radius: 4px
                animation: fade .5s ease
            .numbertext
                color: #f2f2f2
                font-size: 14px
                padding: 10px 16px
                position: absolute
                top: 0
                left: 0

    .prev,
    .next
        cursor: pointer
        position: absolute
        top: 50%
        padding: 16px
        color: #ffff
        font-size: 24px
        user-select: none
        transition: .3s
        &:hover
            color: #bbb
    .prev
        left: 0
    .next
        right: 0

    @keyframes fade
        form
            opacity: .4
        to
            opacity: 1



