#images
    padding: 0
    .portfolio-box
        .imgbox
            position: relative
            cursor: pointer
            &:hover
                transform: scale(1.05)
            .text
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 100%
                position: absolute
                top: 0
                left: 0
                bottom: 0
                opacity: 0
                &:hover
                    background-color: #f4623a
                    opacity: 0.9
                    cursor: pointer
                h3
                    color: #b4b1b1
                    font-size: 19px
                h4
                    margin-top: 10px
                    font-size: 23px
                    color: #ffff
    