#service
    padding: 90px 0
    .textbox
        display: flex
        flex-direction: column
        align-items: center
        h1
            font-size: 43px
            font-weight: 500
        hr
            width: 50px
            color: 