body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
body .imgbox img {
  width: 100%;
}

.box {
  width: 100vw;
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.box nav {
  padding: 10px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
}
.box nav h2 {
  color: #c5c1be;
  font-size: 20px;
  font-weight: 600;
}
.box nav h2:hover {
  color: #fdfdfd;
}
.box nav ul {
  display: flex;
  gap: 30;
}
.box nav ul li {
  list-style-type: none;
}
.box nav ul li a {
  color: #c5c1be;
  font-size: 17px;
  font-weight: 600;
  margin-left: 25px;
}
.box nav ul li a:hover {
  color: #fdfdfd;
}
.box nav .icon {
  display: none;
}
.box nav .icon i {
  color: white;
  font-size: 30px;
}

@media (max-width: 768px) {
  .box {
    background-color: white;
    position: fixed;
  }
  .box nav {
    padding: 10px 30px;
  }
  .box nav h2 {
    color: #000;
  }
  .box nav ul {
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: white;
    gap: 0;
    transition: all 3s;
  }
  .box nav ul li {
    padding: 20px;
  }
  .box nav .icon {
    display: block;
  }
  .box nav .icon i {
    padding: 5px 15px;
    color: #777575;
    font-size: 20px;
    border: 1px solid #777575;
    border-radius: 8px;
    cursor: pointer;
  }
}
@media (max-width: 586px) {
  .box nav {
    padding: 10px 30px;
  }
}
#favorite {
  background: none;
  position: relative;
  padding: 90px 0 0 0;
}
#favorite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/bg-masthead.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: sepia(90%) brightness(70%) invert(25%);
  height: 100vh;
  z-index: 0;
}
#favorite .textbox {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 570px;
}
#favorite .textbox h1 {
  margin-top: 30px;
  color: #fdfdfd;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}
#favorite .textbox h3 {
  color: #fdfdfd;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.4;
}
#favorite .textbox hr {
  margin: 40px;
  width: 50px;
  height: 2px;
  background-color: #f4623a;
}
#favorite .textbox .btn {
  padding: 15px 30px;
  background-color: #f4623a;
  margin-top: 60px;
  border-radius: 30px;
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 768px) {
  #favorite .textbox h1 {
    font-size: 35px;
    margin-top: 20px;
  }
  #favorite .textbox h3 {
    font-size: 18px;
  }
  #favorite .textbox hr {
    margin: 20px;
  }
  #favorite .textbox .btn {
    margin-top: 20px;
  }
}
@media (max-width: 586px) {
  #favorite .textbox h1 {
    font-size: 30px;
    margin-top: 20px;
  }
  #favorite .textbox h3 {
    font-size: 17px;
  }
  #favorite .textbox hr {
    margin: 15px;
  }
  #favorite .textbox .btn {
    margin: 15px;
    padding: 10px 20px;
  }
}

#youneed {
  background-color: #f4623a;
  padding: 90px 0 0 0;
}
#youneed .textbox {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#youneed .textbox h1 {
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
}
#youneed .textbox hr {
  width: 50px;
  height: 3px;
  color: white;
  margin: 30px 0;
}
#youneed .textbox h3 {
  color: #f8ac97;
  font-size: 19px;
  line-height: 1.3;
}
#youneed .textbox .btn {
  margin: 40px 0 90px 0;
  background-color: white;
  padding: 15px 30px;
  border-radius: 30px;
}
#youneed .textbox .btn a {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

#service {
  padding: 90px 0;
}
#service .textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#service .textbox h1 {
  font-size: 43px;
  font-weight: 500;
}
#service .textbox hr {
  width: 50px;
  height: 2px;
  background-color: #f4623a;
  margin-top: 30px;
}
#service .box-icon {
  margin: 50px 0;
}
#service .box-icon .icon i {
  font-size: 35px;
  color: #f4623a;
}
#service .box-icon h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0;
}
#service .box-icon h4 {
  font-size: 19px;
  line-height: 1.3;
  color: #8b8b8b;
}

#images {
  padding: 0;
}
#images .portfolio-box .imgbox {
  position: relative;
}
#images .portfolio-box .imgbox .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}
#images .portfolio-box .imgbox .text:hover {
  background-color: #f4623a;
  opacity: 0.9;
  cursor: pointer;
}
#images .portfolio-box .imgbox .text h3 {
  color: #b4b1b1;
  font-size: 19px;
}
#images .portfolio-box .imgbox .text h4 {
  margin-top: 10px;
  font-size: 23px;
  color: white;
}

#download {
  padding: 90px 0;
  background-color: #212529;
}
#download .textbox {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#download .textbox h1 {
  font-size: 35px;
  color: white;
  margin-bottom: 30px;
}
#download .textbox .btn {
  background-color: white;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 700;
}

#touch {
  padding: 90px 0;
}
#touch .textbox {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#touch .textbox h1 {
  font-size: 35px;
}
#touch .textbox hr {
  margin: 40px;
  width: 50px;
  height: 2px;
  background-color: #f4623a;
}
#touch .textbox h3 {
  color: #8b8b8b;
  font-size: 19px;
  font-weight: 100;
  line-height: 1.4;
}
#touch #contact-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#touch #contact-form input {
  border: 0.5px solid #8b8b8b;
  width: 500px;
  height: 50px;
  margin: 7px 0;
  border-radius: 7px;
}
#touch #contact-form input.error-border {
  border: 2px solid red !important;
}
#touch #contact-form .error-message {
  color: red;
  font-size: 13px;
  display: none;
}
#touch #contact-form textarea {
  border-radius: 7px;
  margin-top: 7px;
}
#touch #contact-form button {
  padding: 1.25rem 14.25rem;
  background-color: #f4623a;
  opacity: 0.7;
  border-radius: 30px;
  margin-top: 20px;
  color: white;
  font-size: 17px;
  font-weight: 600;
}
#touch #contact-form .icon {
  font-size: 35px;
  color: #8b8b8b;
  margin: 40px 0 20px 0;
}/*# sourceMappingURL=style.css.map */